<!-- This content is inserted into the base.html file -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/styles.css' | url }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- you could add favicons etc here -->