<!DOCTYPE html>
<html lang="en">

<head>

    <!-- load the head content from the head.html file -->
    {% include '_head.html' %}

    <!-- set the site title to be a variable, defined in the md file -->
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div class="inner-wrapper">
           <div class="header_left">
            <h1 class="main_title">{{ title }}</h1>
            <section>
    <div class="container5_contain">
		<div class="container5">
				<div class="circle">
					<span style="--i:0;"></span>
					<span style="--i:1;"></span>
					<span style="--i:2;"></span>
					<span style="--i:3;"></span>
					<span style="--i:4;"></span>
					<span style="--i:5;"></span>
					<span style="--i:6;"></span>
					<span style="--i:7;"></span>
					<span style="--i:8;"></span>
					<span style="--i:9;"></span>
					<span style="--i:10;"></span>
					<span style="--i:11;"></span>
					<span style="--i:12;"></span>
					<span style="--i:13;"></span>
					<span style="--i:14;"></span>
					<span style="--i:15;"></span>
					<span style="--i:16;"></span>
					<span style="--i:17;"></span>
					<span style="--i:18;"></span>
					<span style="--i:19;"></span>
					<span style="--i:20;"></span>
				</div>
				<div class="circle">
					<span style="--i:0;"></span>
					<span style="--i:1;"></span>
					<span style="--i:2;"></span>
					<span style="--i:3;"></span>
					<span style="--i:4;"></span>
					<span style="--i:5;"></span>
					<span style="--i:6;"></span>
					<span style="--i:7;"></span>
					<span style="--i:8;"></span>
					<span style="--i:9;"></span>
					<span style="--i:10;"></span>
					<span style="--i:11;"></span>
					<span style="--i:12;"></span>
					<span style="--i:13;"></span>
					<span style="--i:14;"></span>
					<span style="--i:15;"></span>
					<span style="--i:16;"></span>
					<span style="--i:17;"></span>
					<span style="--i:18;"></span>
					<span style="--i:19;"></span>
					<span style="--i:20;"></span>
				</div>
		</div>
		</div>
	</section>
</div>
            
            
            <div class="clock_position">
            <div class="clock">
		<div class="hour">
			<div class="hr" id="hr"></div>
		</div>
		<div class="min">
			<div class="mn" id="mn"></div>
		</div>
		<div class="sec">
			<div class="sc" id="sc"></div>
		</div>
	</div>
            </div>
            
            
            
        </div>
    </header>
    <main>
        <div class="inner-wrapper">
            <!-- STOP! Don't add anything more to the base template -->
            <!-- the content here is loaded through the homepage template -->
            {% block content %}
            {{ content }}
            {% endblock %}
        </div>
    </main>

    {% include '_footer.html' %}





</body>

</html>