---
layout: base
---

<!--<div class="hero">
    <h2>{{hero.title }}</h2>
</div>-->



<!--<div class="main-content">
    {{ content }}
    
    <img src="{{cv.image}}" alt="text">
    
</div>-->

<div class="container">
		<div class="box">
			<div class="content">
				<img src="/assets/images/img.jpg">
				<h2>Someone Famous<br><span>UX/UI Designer</span></h2>
				<!--<a href="#">Hire me</a>-->
			</div>
		</div>
	</div>



<div class="card">
		<span style="--i:0;"></span>
		<span style="--i:1;"></span>
		<span style="--i:2;"></span>
		<span style="--i:3;"></span>
		<div class="glass">
			<h2>Muhammad Irshad<br><i>+91 987 654 3210</i></h2>
		</div>
	</div>


<div>

 <img class="first_img" src="/assets/images/My_project.png"/>
    
</div>

<div class="intro">
    <h2>{{intro.education }}</h2>

</div>

<div class="state">
    <div>
        <h3>2017</h3>
        <h4>Graduate from <br/>high school</h4>
    </div>
    
    <div class="vertical_line"></div>
    <div>
        <h3>2018</h3>
        <h4>Graduate from<br/>UC college</h4>
    </div>
    <div class="vertical_line"></div>
    <div>
        <h3>2022</h3>
        <!--<h4>Graduate from <br/> Univercity of canberra</h4>-->
        <h4>Bachelor of<br/>Software Engineering</h4>
    </div>
</div>




<div class="container2">
		<h2>5 Star Skills Rating Bar</h2>
		<div class="skills">
			<h3 class="name">Html</h3>
			<div class="rating">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
			</div>
		</div>
		<div class="skills">
			<h3 class="name">CSS</h3>
			<div class="rating">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
			</div>
		</div>
		<div class="skills">
			<h3 class="name">Javascript</h3>
			<div class="rating">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
			</div>
		</div>
		<div class="skills">
			<h3 class="name">Photoshop</h3>
			<div class="rating">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
			</div>
		</div>
		<div class="skills">
			<h3 class="name">Illustrator</h3>
			<div class="rating">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
			</div>
		</div>
		
	</div>



<h2 class="intro">Participations</h2>

<div class="">

    <aside class="aside">
    
        <a>The World Science Fair in Abu Dhabi</a>
        <a>The World Science Fair in Belgium</a>
        <a>Intel Innovation Competition in Egypt</a>
        
    </aside>
    
    
    
        <!--<img class="side_img" src="/assets/images/My_project.png" >-->
    <div class="inline">
        <img class="side_img" src="/assets/images/My_project.png" width="" >
    </div>
    
    
</div>

<div class="clear">
    <h2>finrfjun</h2>
    
    <div class="boxs">
    
        <div>
            
        </div>
        
        <div>
        
        </div>
        
        <div></div>
    
    </div>
    

</div>




<!--<div class="cv_title">
    <p>{{cv.title }}</p>
</div>
-->

