---
layout: base
---

<!--<div class="hero">
    <h2>{{hero.title }}</h2>
</div>-->



<!--<div class="main-content">
    {{ content }}
    
    <img src="{{cv.image}}" alt="text">
    
</div>-->






<!--the Clock-->

	
	


<!--this code is for the first prsonal image including the hover effect-->
<h2 class="first_title">{{ personal_image.title }}</h2>
<div class="container_contain">
    <div class="container">
		<div class="box">
			<div class="content">
				<img src="/assets/images/profile2.JPG" alt="profile image">
				<h2>{{ personal_image.name }}</h2>
				<h2><span>{{ personal_image.career }}</span></h2>
				<!--<a href="#">Hire me</a>-->
			</div>
		</div>
	</div>
</div>


<!--<div class="card">
		<span style="--i:0;"></span>
		<span style="--i:1;"></span>
		<span style="--i:2;"></span>
		<span style="--i:3;"></span>
		<div class="glass">
			<h2>Muhammad Irshad<br><i>+91 987 654 3210</i></h2>
		</div>
	</div>-->


<!--<div>

 <img class="first_img" src="/assets/images/My_project.png"/>
    
</div>

<div class="intro">
    <h2>{{intro.education }}</h2>

</div>

<div class="state">
    <div>
        <h3>2017</h3>
        <h4>Graduate from <br/>high school</h4>
    </div>
    
    <div class="vertical_line"></div>
    <div>
        <h3>2018</h3>
        <h4>Graduate from<br/>UC college</h4>
    </div>
    <div class="vertical_line"></div>
    <div>
        <h3>2022</h3>
        <h4>Graduate from <br/> Univercity of canberra</h4>
        <h4>Bachelor of<br/>Software Engineering</h4>
    </div>
</div>-->



<!--this code is for skills star rating-->
<div class="container2_contain">
<div class="container2">
        <!--the title -->
		<h2>{{ skills.title }}</h2>
		<!--the first skill-->
		<div class="skills">
			<h3 class="name">{{ skills.first }}</h3>
			<!--stars icon-->
			<div class="rating">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
				<input type="radio" name="html">
			</div>
		</div>
		<!--the second skill-->
		<div class="skills">
			<h3 class="name">{{ skills.second }}</h3>
			<!--stars icon-->
			<div class="rating">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				<input type="radio" name="css">
				
			</div>
		</div>
		<!--the third skill-->
		<div class="skills">
			<h3 class="name">{{ skills.third }}</h3>
			<!--stars icon-->
			<div class="rating">
				<input class="black2" type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
				<input type="radio" name="js">
			</div>
		</div>
		<!--the fourth skill-->
		<div class="skills">
			<h3 class="name">{{ skills.fourth }}</h3>
			<!--stars icon-->
			<div class="rating">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				<input type="radio" name="photoshop">
				
				
			</div>
		</div>
		<!--the fifth skill-->
		<div class="skills">
			<h3 class="name">{{ skills.fifth }}</h3>
			<!--stars icon-->
			<div class="rating">
				<input type="radio" name="illustrator">
				<input type="radio" name="illustrator">
				
			
			</div>
		</div>
		
	</div>
	</div>
	
	
	
	
	
	
	
	<h2 class="sub_title">{{ participations.title }}</h2>
	<h4 class="sub_title">{{ participations.sub_title }}</h4>
	<div class="container4_conntain">
	<div class="container4">
		<div class="card4">
			<div class="imgBx4">
				<img src="/assets/images/UAE2.JPG" alt="UAE">
			</div>
			<div class="content4">
				<h2>{{ participations.title1 }}</h2>
				<p>{{ participations.content1 }}</p>
			</div>
		</div>
		<div class="card4">
			<div class="imgBx4">
				<img src="/assets/images/Belguim.JPG" alt="Belgium">
			</div>
			<div class="content4">
				<h2>{{ participations.title2 }}</h2>
				<p>{{ participations.content2 }}</p>
			</div>
		</div>
		<div class="card4">
			<div class="imgBx4">
				<img src="/assets/images/Egypt.JPG" alt="Egypt">
			</div>
			<div class="content4">
				<h2>{{ participations.title3 }}</h2>
				<p>{{ participations.content3 }}</p>
			</div>
		</div>
		<!-- <div class="card">
			<div class="imgBx">
				<img src="img4.jpg">
			</div>
			<div class="content">
				<h2>Card Four</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div> -->
	</div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	<h2 class="sub_title">{{ my_hobbies.title }}</h2>
	<div class="container3">
	
		<div class="card3">
			<div class="icon">
				<ion-icon name="barbell-outline"></ion-icon>
			</div>
			<div class="content3">
				<h2>{{ my_hobbies.title1 }}</h2>
				<p>{{ my_hobbies.content1 }}</p>
			</div>
		</div>
		<div class="card3">
			<div class="icon">
				<ion-icon name="earth-outline"></ion-icon>
			</div>
			<div class="content3">
				<h2>{{ my_hobbies.title2 }}</h2>
				<p>{{ my_hobbies.content2 }}</p>
			</div>
		</div>
		<div class="card3">
			<div class="icon">
				<ion-icon name="desktop-outline"></ion-icon>
			</div>
			<div class="content3">
				<h2>{{ my_hobbies.title3 }}</h2>
				<p>{{ my_hobbies.content3 }}</p>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	





<h2 class="sub_title">{{ contact.title }}</h2>
<div class="card2_contain">
<div class="card2">
			<div class="content2">
				<div class="imgBx">
					<img src="/assets/images/profile2.jpg" alt="profile">
				</div>
				<div class="details">
					<div>
						<h3>{{ contact.name }}</h3>
					</div>
					<div>
						<ion-icon name="call-outline"></ion-icon>
						<span><p>{{ contact.phone }}</p></span>
					</div>
					<div>
						<ion-icon name="mail-outline"></ion-icon>
						<span><p>{{ contact.email }}</p></span>
					</div>
				</div>
			</div>
		</div>
		</div>





<script src="/assets/js/JavaScript.js"></script>

<!--
<h2 class="intro">Participations</h2>

<div class="">

    <aside class="aside">
    
        <a>The World Science Fair in Abu Dhabi</a>
        <a>The World Science Fair in Belgium</a>
        <a>Intel Innovation Competition in Egypt</a>
        
    </aside>
    
    
    
        
    <div class="inline">
        <img class="side_img" src="/assets/images/My_project.png" width="" >
    </div>
    
    
</div>

<div class="clear">
    <h2>finrfjun</h2>
    
    <div class="boxs">
    
        <div>
            
        </div>
        
        <div>
        
        </div>
        
        <div></div>
    
    </div>
    

</div>

-->


<!--<div class="cv_title">
    <p>{{cv.title }}</p>
</div>
-->

