body {
    font-size: 16px;
    background-color: #f4f4f4;
    
    font-family: sans-serif;
    
}

h1 {
    font-size: 2.5em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

.main_title{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    color: white;
}

.header_left{
    
    float: left;
    display: flex;
    
}

.first_title{
    text-align: center;
    margin-bottom: 6%;
    margin-top: 6%;
    clear: both;
}

.sub_title2{
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: center;
    }

.margin3{
    margin-top: 3%;
}

header,
footer {
    background-color: #777999;
    /*padding: 2em 0;*/
}

footer {
    background-color: black;
    width: 100%;
    height: 13%;
    padding-bottom: 10%;
    padding-top: 2%;
    color: white;
}

header{
    background-color: black;
    width: 100%;
    height: 13%;
    padding-bottom: 10%;
    padding-top: 2%;
    
}



.cv_title{
    border: 2px solid black;
}

.first_img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.state{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    color: gray;
    margin-left: 6% ;
    /*margin-right: ;*/
    
    
}

.state h3{
    
    margin-top: 10%;
    margin-bottom: 10%;
    
    
}

.state div:hover{
    color: black;
}

.vertical_line{
    border-left: 6px solid gray;
    border-radius: 8px;
  height: 180px;
    margin-left: 2%;
    margin-right: 2%
}

.aside{
    width: 40%;
    height: 600px;
    background-color: burlywood;
    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: left;
}

aside a{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    
    text-align: center;
    margin-top: 25%;
    margin-bottom: 15%;
    font-size: 1.5em;
    text-decoration: none;
    
}

.side_img{
    /*margin-left: 40%;*/
    
    width: 100%;
    height: 600px;
    object-fit: scale-down;
    display: block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
.inline{
    width: 60%;
    float: right;
    background-color: lightgray;
}

.img{
    
    
    float: right;
}


.clear{
    clear: both;
    margin-top: 10%;
}
.clear h2{
    clear: both;
    text-align: center;
    margin-top: 10%;
}

.boxs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxs div{
    border: 3px solid black;
    width: 20%;
    height: 300px;
    border-radius: 8px;
}


main {
    margin-bottom: 2em;
}




.container 
{
    
	position: relative;
	width: 400px;
	height: 400px;
    margin-right: auto;
    margin-left: auto;
    
    clear: both;
}
.box
{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box:before
{
	content: '';
	position: absolute;
	inset: -10px 140px;
	transition: 0.5s;
	background: linear-gradient(315deg,#00ccff,#d400d4);
	animation: animateA 4s linear infinite
}
.box:hover:before
{
	inset: -20px 0px;
}
@keyframes animateA 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.box:after
{
	content: '';
	position: absolute;
	inset : 6px;
	background: #0e1538;
	border-radius: 50%;
	z-index: 1;
}
.content 
{
	position: absolute;
	inset: 30px;
	background: #0e1538;
	border: 6px solid #070a1c;
	background-size: cover;
	z-index: 3;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.content img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	z-index: 3;
	pointer-events: none;
}
.box:hover .content img 
{
	opacity: 0;
}
.content h2 
{
	position: relative;
	z-index: 2;
	font-size: 1.25em;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.05em;
	line-height: 1.25em;
	text-transform: uppercase;
}
.content h2 span 
{
	font-weight: 300;
	font-size: 0.75em;
}



.card
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
}
.card span 
{
	position: absolute;
	top: 0;
	width: 250px;
	height: 250px;
	display: block;
	background: #000;
	border-radius: 50%;
	transform-origin: 125px 0; 
	transform: rotate(calc(90deg * var(--i)));
	filter: blur(80px);
	opacity: 0.75;
}
.card span:nth-child(1)
{
	background: #01b2fe;
}
.card span:nth-child(2)
{
	background: #ff008c;
}
.card span:nth-child(3)
{
	background: #ffcd00;
}
.card span:nth-child(4)
{
	background: #00c456;
}
.card .glass
{
	position: absolute;
	width: 450px;
	height: 300px;
	background: rgba(255,255,255,0.5);
	border-radius: 20px;
	border: 1px solid #fff;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.card .glass::before 
{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.2);
	pointer-events: none;
	transform: skewX(345deg);
}
.card .glass h2
{
	padding: 20px;
	font-weight: 400;
	width: 100%;
	background: rgba(255,255,255,0.2);
	color: #333;
	text-align: end;
}
.card .glass h2 i 
{
	font-weight: 300;
	font-size: 0.75em;
	font-style: normal;
}

/*
a 
{
	position: relative;
	margin-top: 10px;
	padding: 10px 20px;
	background: #fff;
	color: #070a1c;
	border-radius: 25px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
	transition: 0.5s;
}
a:hover 
{
	letter-spacing: 0.2em;
}
*/


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  background: #0a2b3c;
}
*/

.container2
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    margin-top: 7%;
    margin-bottom: 7%;
	padding: 30px;
    background-color: lightgray;
	border-radius: 10px;
  box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
              inset 2px 2px 5px rgba(255,255,255,0.25),
              8px 30px 30px rgba(0,0,0,0.4),
              inset -2px -2px 5px rgba(0,0,0,0.3);
}
.container2 h2
{
	margin-bottom: 10px;
	font-weight: 500;
	color: #1f9cff;
}

.skills
{
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: white;
	margin: 10px 0;
	border-radius: 10px;
	padding-right: 10px;
	transition: 0.5s;
  box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
              inset 2px 2px 5px rgba(255,255,255,0.25),
              8px 10px 20px rgba(0,0,0,0.4),
              inset -2px -2px 5px rgba(0,0,0,0.3);
}
.container2:hover .skills
{
	filter: blur(5px);
	opacity: 0.2;
}
.container2 .skills:hover
{
	filter: blur(0px);
	opacity: 1;
}
.skills h3
{
	min-width: 180px;
	text-align: center;
	padding-right: 20px;
	/*color: #fff;*/
    
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
}
.rating
{
	position: relative;
	display: flex;
	margin: 10px 0;
    
	flex-direction: row-reverse;
}
.rating input
{
	position: relative;
	width: 20px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}


.rating input::before
{
	content: '\f005';
	font-family: fontAwesome;
	font-size: 34px;
	position: absolute;
	left: 4px;
	color: #1f9cff;
	transition: 0.5s;
}


.rating input:nth-child(2n + 1)::before
{
	right: 4px;
	left: initial;
}
.black2::before{
    color: #030b0f;
}

.black2::after{
    color: #030b0f;
}









/*contact card*/

.card2_contain{
    display: flex;
	justify-content: center;
	align-items: center;
	
}

.card2
{
	position: relative;
	width: 500px;
	border-top: 1px solid rgba(255,255,255,0.5);
	height: 300px;
	background: rgba(255,255,255,0.1);
    background: url(/assets/images/bg.jpg);
    background-size: cover;
	background-position: center;
    
	backdrop-filter: blur(10px);
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 25px 25px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
    
	z-index: 10;
	transition: 1s;
    
}
.card2:hover 
{
	transform: scale(1.2);
	background: rgba(255,255,255,0.2);
    background: url(/assets/images/bg.jpg);
    background-size: cover;
	background-position: center;
}
.card2::before 
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	/*background: #7729ee;8*/
	opacity: 0.75;
}
.content2 
{
	display: flex;
	align-items: center;
	gap: 40px;
	margin-top: auto;
    margin-bottom: auto;
}
.content2 .imgBx
{
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.content2 .imgBx img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.details
{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.details h3 
{
	font-weight: 600;
	color: #111;
}
.details div 
{
	display: flex;
	align-items: center;
	gap: 10px;
}
.details ion-icon
{
	font-size: 1.4em;
	color: #111;
}
.details span 
{
	color: #111;
    
}

.details  p
{
	color: #111;
    font-size: 1em;
    margin-bottom: 0;
}


/*card3*/


.sub_title{
    text-align: center;
    margin-bottom: 7%;
    margin-top: 7%;
    clear: both;
}


.container3 
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.card3
{
	position: relative;
	width: 320px;
	height: 450px;
	margin: 30px;
	background: #287bff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	border-bottom-left-radius: 160px;
	border-bottom-right-radius: 160px;
	box-shadow: 0 15px 0 #fff,
	inset 0 -15px 0 rgba(255,255,255,0.25),
	0 45px 0 rgba(0,0,0,0.15);
}
.card3::before
{
	content: '';
	position: absolute;
	top: -150px;
	left: -40%;
	filter: blur(5px);
	width: 100%;
	height: 150%;
	transform: rotate(35deg);
	background: linear-gradient(90deg,transparent,rgba(255,255,255,0.2));
	pointer-events: none;
}
.card3:nth-child(1)
{
	background: linear-gradient(to bottom,#ff2ae0, #64b5f6);
}
.card3:nth-child(2)
{
	background: linear-gradient(to bottom,#ffec61, #f321d7);
}
.card3:nth-child(3)
{
	background: linear-gradient(to bottom,#24ff72, #9a4eff);
}
.card3 .icon 
{
	position: relative;
	width: 140px;
	height: 120px;
	background: #3c2846;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-shadow: 0 10px 0 rgba(0,0,0,0.1),
	inset 0 -8px 0 #fff;
	z-index: 1000;
}
.card3 .icon ion-icon 
{
	color: #fff;
	position: relative;
	font-size: 6em;
	z-index: 1;
	--ionicon-stroke-width: 24px;
}
.card3 .icon::before 
{
	content: '';
	position: absolute;
	top: 0;
	left: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-top-right-radius: 50px;
	box-shadow: 15px -15px 0 15px #3c2846;
}
.card3 .icon::after 
{
	content: '';
	position: absolute;
	top: 0;
	right: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-top-left-radius: 50px;
	box-shadow: -15px -15px 0 15px #3c2846;
}
.content3
{
	position: absolute;
	width: 100%;
	padding: 30px;
	padding-top: 140px;
	text-align: center;
}
.content3 h2 
{
	font-size: 1.75em;
	color: #fff;
	margin-bottom: 10px;
}
.content3 p 
{
	color: #fff;
	line-height: 1.5em;
    font-size: 1em;
}


/*clock*/



.clock
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    /*margin-right: 0%;
    margin-left: 60%;*/
    float: right;
    align-items: center;
    background: #FFFFFF url(/assets/images/clock.png);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                0 20px 20px rgba(0,0,0,0.3),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 20px 20px rgba(0,0,0,0.3);
}
.clock::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    z-index: 100000;
    border-radius: 50%;
}
.hour,
.min,
.sec
{
    position: absolute;
}
.hour, .hr
{
    width: 40px;
    height: 40px;
}
.min, .mn
{
    width: 80px;
    height: 80px;
}
.sec, .sc
{
    width: 80px;
    height: 80px;
}
.hr,.mn,.sc
{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before
{
    content: '';
    position: absolute;
    width: 6px;
    height: 50px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 50px;
    background: black;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background: #008eff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}








/*card for participations*/

.container4_conntain{
    display: flex;
	justify-content: center;
	align-items: center;
	
}
.container4
{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 20px 10px;
    
}
.container4 .card4
{
	max-width: 300px;
	height: 420px;
	height: 215px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	border-radius: 4px;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.content4 h2{
    font-size: 1.5em;
}
.content4 p{
    font-size: 1em;
}
.container4 .card4:hover
{
	height: 420px;
}
.container4 .card4 .imgBx4
{
	position: relative;
	background: #fff;
	top: -60px;
	left: 20px;
    min-width: initial;
    width: 260px;
    height: 260px;
	border-radius: 4px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container4 .card4 .imgBx4 img
{
	max-width: 100%;
	border-radius: 4px;
    
}
.container4 .card4 .content4
{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
	transition-delay: 0s;
}
.container4 .card4:hover .content4
{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}



/*infinity circle css*/

section
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  /*background: #042104;*/
  animation: animateBg 8s linear infinite;
}
@keyframes animateBg
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}



.container5 
{
  display: flex;
}

container5_contain{
    box-sizing: border-box;
    
}
.circle
{
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 -7.5px;
}
.circle span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.circle span:before
{
  content: '';
  position: absolute;
  top: calc(50% - 7.5px);
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: scale(0.1);
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
  animation: animate 4s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
  0%
  {
    transform: scale(1);
  }
  50%,100%
  {
    transform: scale(0.1);
  }
}
.circle:nth-child(2)
{
  transform: rotate(-180deg);
}
.circle:nth-child(2) span:before
{
  animation-delay: calc(-0.1s * var(--i));
}


@media only screen and (min-width: 481px) and (max-width: 960px) {
    
    .circle
    {
      position: relative;
      width: 70px;
      height: 70px;
      margin: 0 -7.5px;
    }
    
    header{
    background-color: black;
    width: 100%;
    height: 13%;
    padding-bottom: 14%;
    padding-top: 5%;
    
    }
    /*clock tablet*/
    .clock
    {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        /*margin-right: 0%;
        margin-left: 60%;*/
        float: right;
        align-items: center;
        background: #FFFFFF url(/assets/images/clock.png);
        background-size: cover;
        border-radius: 50%;
        border: 4px solid white;
        box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                    0 20px 20px rgba(0,0,0,0.3),
                    inset 0 -15px 15px rgba(255,255,255,0.05),
                    inset 0 20px 20px rgba(0,0,0,0.3);
    }
    .clock::before
    {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: #fff;
        z-index: 100000;
        border-radius: 50%;
    }
    .hour,
    .min,
    .sec
    {
        position: absolute;
    }
    .hour, .hr
    {
        width: 40px;
        height: 40px;
    }
    .min, .mn
    {
        width: 70px;
        height: 70px;
    }
    .sec, .sc
    {
        width: 65px;
        height: 65px;
    }
    .hr,.mn,.sc
    {
        display: flex;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
    }
    .hr::before
    {
        content: '';
        position: absolute;
        width: 6px;
        height: 50px;
        background: #ff105e;
        z-index: 10;
        border-radius: 6px 6px 0 0;
    }
    .mn::before
    {
        content: '';
        position: absolute;
        width: 4px;
        height: 40px;
        background: black;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }
    .sc::before
    {
        content: '';
        position: absolute;
        width: 2px;
        height: 40px;
        background: #008eff;
        z-index: 12;
        border-radius: 6px 6px 0 0;
    }
    
    /*hobbies cards*/
    .card3{
        margin: 23px;
    }


}



@media only screen and (max-width: 480px) {
    /* This CSS will be applied only to phones and other small devices. */
    
    inner-wrapper{
        width: 90%;
        margin: 0;
    }
    
    
    
    
    .container {
        width: 250px;
        height: 250px;
    }
    
    .content{
        border: 2px solid #070a1c;
    }
    
    .clock_position{
        display: none;
    }
    
    header{
        
        padding-top: 7%;
        padding-bottom: 7%;
    }
    
    .sub_title2{
        margin-top: 3%;
        margin-bottom: 3%;
        text-align: center;
    }
    
    .header_left{
        float: none;
        justify-content: center;
    }
    
    .circle
    {
      position: relative;
      width: 70px;
      height: 70px;
      margin: 0 -7.5px;
    }
    
    .skills h3
    {
	min-width: 110px;
	text-align: left;
	padding-right: 20px;
	/*color: #fff;*/
    margin-left: 5px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
    }
    
    
    .content2 .imgBx
    {
	position: relative;
	width: 120px;
	height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
    }
    .content2{
        display: block;
        
    }
    
    .details div 
        {
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 10px;
    }
    .sub_title{
        margin-top: 11%;
        margin-bottom: 11%;
    }
    .card2_contain{
        
        margin-left: auto;
        margin-right: auto;
    }
    
}



















