body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: #777999;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}

.cv_title{
    border: 2px solid black;
}

.first_img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.state{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    color: gray;
    margin-left: 6% ;
    /*margin-right: ;*/
    
    
}

.state h3{
    
    margin-top: 10%;
    margin-bottom: 10%;
    
    
}

.state div:hover{
    color: black;
}

.vertical_line{
    border-left: 6px solid gray;
    border-radius: 8px;
  height: 180px;
    margin-left: 2%;
    margin-right: 2%
}

aside{
    width: 40%;
    height: 10%;
    background-color: burlywood;
    padding-top: 7.5%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

aside a{
    display: block;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
    font-size: 1.5em;
    text-decoration: none;
    
}




main {
    margin-bottom: 2em;
}